.between{
    display: flex;
    animation: fadeIn 1.5s ;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.slide-in,
.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10;
}

.slide-in {
  transform-origin: top;
}

.slide-out {
  transform-origin: bottom;
}
